@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: arial;
    background: #141414;
    padding: 0;
    margin: 0;
    color: white;
  }

  body .page {
    margin: 5px 80px;
  }

  /* début header */
  
  .onglet a {
      text-decoration: none;
  }
  
  .suggestion a {
      text-decoration: none;
      color:white;
  }
  nav {
      display: flex;
      flex-wrap: wrap;
      position: sticky;
      justify-content: space-between;
      top: 0;
      height: 80px;
      background-color: #141414;
      padding: 10px 0px;
  }
  
  header .onglet {
      display: flex;
      flex-wrap: wrap;
      margin-top: 5px;
      
  }
  
  header .onglet a {
      cursor: pointer;
      margin-right: 20px;
      
  }
  
  header .buttons button {
      padding: 13px 20px;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 15px;
      outline: none;
      margin-top: 10px;
      margin-right: 50px;
      width: 120px;
  }
  
  header .buttons .login {
      background-color: #141414;
      color: white;
      margin-right: 10px;
      border: white 0.5px solid;
      border-radius: 5px;
  }
  
  nav .buttons .register {
      background-color: #B453DE;
      color: white ;
      margin-right: 10px;
      border-radius: 5px;
  }
  
  header .suggestion {
      margin-left: 750px;
      margin-top: 20px;
      word-spacing: 25px;
  }
  
  button:hover {
      transform: scale(1.1);
  }

.container_logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-left: 5px;
    margin-left: 15px;
    }

.logo {
    width: 100%;
    height: auto;
    display: block;
    }
  /* fin header */

.barre {
    position: absolute;
    background: #22C29A;
    width: 100%;
    height: 8px;
    top: 100px;
}
