
.creation {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: var(--radius);
    transition: .2s ease;
    background-color: var(--grey2);
}

.create-playlist a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--grey2);
    background-color: white;
    border-radius: 15px;
    padding: 5px;

}

.create-playlist:hover {
    transform: scale(1.05);
}

/* end side */

/* content */

.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 2.5vw;
    height: 30%;
    gap: 10px;
    padding: 20px;
}

.slogan-and {
    color: var(--musyc);
}


/* Media Queries Tel*/

@media screen and (max-width: 768px) {

    /* content */

    .slogan {
        font-size: 4vw;
        border-bottom: 1px solid var(--light);
    }

    .playlist-trend {
        grid-template-columns: 1fr;
    }
}



/* Media Queries Tablet */


@media screen and (max-width: 1400px) {

    /* content */

    .slogan {
        height: 15%;
        font-size: 2.5vw;
    }

    .playlist-trend {
        grid-template-columns: repeat(2, 1fr);
    }
}