.user-options {
    display: none;
}

nav {
    display: none;
}

header {
    display: flex;
    justify-content: center;
}

.content-signup {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    min-height: 80vh;
    border-radius: var(--radius);
    
}

.title-signup {
    display: flex;
    margin: 0 auto;
    margin-top: 5%;
    font-weight: normal;
    font-size: 40px;
}

.text-signup {
    display: flex;
    margin: 0 auto;
    font-weight: normal;
    margin-top: 1%;
    font-size: 15px;
    margin-bottom: 5%;
}

.text-signup a {
    color: var(--musyc2);
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 15px;
}

label {
    display: flex;
    align-items: center;
    margin: auto;
    font-weight: normal;
    margin-top: 1%;
    font-size: 15px;
}

input {
    width: 45%;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: var(--padd);
    margin-bottom: 10px;
    background-color: var(--light);
} 

.button-signup {
    margin: 0 auto;
    position: relative;
    border: none;
    padding: 10px;
    background-color: var(--musyc2);
    border-radius: var(--radius);
    margin-top: 5%;
    font-size: 20px;
    color: #FFFFFF;
    width: 35%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
  }
  
.button-signup:hover {
    opacity: 1;
}