<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/connection.css">
    <title>Connection / Account Creation</title>
</head>
<body>
    
    <form id="connectionForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Connect</button>
        <a href="/createAcc"><i class="creatAccTxt"><small>you don't have an account ?</small></i></a>
    </form>
    
</body>
</html>
