{% extends 'header.html' %}
{% block contenu %}

<div class="connectClass">
    <form class="connectionForm" >
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Connect</button>
        <a href="/createAcc"><i class="creatAccTxt"><small>you don't have an account ?</small></i></a>
    </form>
</div>

{% endblock contenu %}
