<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/main.css" type="text/css">
    <link rel="stylesheet" href="../static/style/header.css" type="text/css">
    <link rel="stylesheet" href="../static/style/connected.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="../static/images/WebMusYc.png">
    <title>Web Mus Yc</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/connected"> <img src="../static/images/WebMusYc.png" alt="logo"></a>
        </div>
        <nav>
            <a href="#">Blindtest</a>
        </nav>
        <div class="user-options">
            <div class="signup">
                <a href="#">My account</a>
            </div>
        </div>
    </header>
<!-- fin header -->
    <main>
    <div class="view">
        <div class="side">
            <div class="menu">
                <div class="text-box mBot15">
                    <a href="/home">
                        <span class="material-icons">home</span>
                        <span class="text-m">Home</span>
                    </a>
                </div>
                <div class="text-box">
                    <a href="/search">
                        <span class="material-icons">search</span>
                        <span class="text-m">Search</span>
                    </a>
                </div>
                <div class="text-box">
                    <a href="#">
                        <span class="material-icons tel-icons">music_note</span>
                    </a>
                </div>
                <div class="text-box">
                    <a href="#">
                        <span class="material-icons tel-icons">library_add</span>
                    </a>
                </div>
            </div>
            <div class="listing">
                <div class="listing-header">
                    <div class="text-box">
                        <a href="library.html">
                            <span class="material-icons">library_music</span>
                            <span class="text-m">Library</span>
                        </a>
                    </div>
                    <div class="icons-action">
                        <span class="material-icons">add</span>
                        <span class="material-icons">arrow_forward</span>
                    </div>
                </div>
                <div class="filters">
                    <span class="material-icons filter-icons">search</span>
                    <div class="drop">
                        <span class="label">Recents</span>
                        <span class="material-icons">expand_more</span>
                    </div>
                </div>
                <div class="playlists">
                    <div>
                        <div class="playlist">
                            <div>
                                <img src="../static/images/liked.png" alt="">
                            </div>
                            <div class="playlist-meta">
                                <a href="/">Liked Songs</a>
                                <div>
                                    <span class="material-icons">push_pin</span>
                                    <span class="artist">Playlist</span>
                                </div>
                            </div>
                        </div>
                        <div class="playlist">
                            <div>
                                <img src="../static/images/liked.png" alt="">
                            </div>
                            <div class="playlist-meta">
                                <a href="/">Liked Songs</a>
                                <div>
                                    <span class="artist">Playlist</span>
                                </div>
                            </div>
                        </div><div class="playlist">
                            <div>
                                <img src="../static/images/liked.png" alt="">
                            </div>
                            <div class="playlist-meta">
                                <a href="/">Liked Songs</a>
                                <div>
                                    <span class="artist">Playlist</span>
                                </div>
                            </div>
                        </div><div class="playlist">
                            <div>
                                <img src="../static/images/liked.png" alt="">
                            </div>
                            <div class="playlist-meta">
                                <a href="/">Liked Songs</a>
                                <div>
                                    <span class="artist">Playlist</span>
                                </div>
                            </div>
                        </div><div class="playlist">
                            <div>
                                <img src="../static/images/liked.png" alt="">
                            </div>
                            <div class="playlist-meta">
                                <a href="/">Liked Songs</a>
                                <div>
                                    <span class="artist">Playlist</span>
                                </div>
                            </div>
                        </div><div class="playlist">
                            <div>
                                <img src="../static/images/liked.png" alt="">
                            </div>
                            <div class="playlist-meta">
                                <a href="/">Liked Songs</a>
                                <div>
                                    <span class="artist">Playlist</span>
                                </div>
                            </div>
                        </div><div class="playlist">
                            <div>
                                <img src="../static/images/liked.png" alt="">
                            </div>
                            <div class="playlist-meta">
                                <a href="/">Liked Songs</a>
                                <div>
                                    <span class="artist">Playlist</span>
                                </div>
                            </div>
                        </div><div class="playlist">
                            <div>
                                <img src="../static/images/liked.png" alt="">
                            </div>
                            <div class="playlist-meta">
                                <a href="/">Liked Songs</a>
                                <div>
                                    <span class="artist">Playlist</span>
                                </div>
                            </div>
                        </div><div class="playlist">
                            <div>
                                <img src="../static/images/liked.png" alt="">
                            </div>
                            <div class="playlist-meta">
                                <a href="/">Liked Songs</a>
                                <div>
                                    <span class="artist">Playlist</span>
                                </div>
                            </div>
                        </div><div class="playlist">
                            <div>
                                <img src="../static/images/liked.png" alt="">
                            </div>
                            <div class="playlist-meta">
                                <a href="/">Liked Songs</a>
                                <div>
                                    <span class="artist">Playlist</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="text-box mBot15">
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
                <div class="text-box mBot15">
                    <a href="#">
                        <span class="text-m">About</span>
                    </a>
                    <a href="#">
                        <span class="text-m">Privacy</span>
                    </a>
                    <a href="#">
                        <span class="text-m">Terms</span>
                    </a>
                </div>
                <div class="text-box mBot15">
                    <span class="text-m">©Web Mus Yc</span>
                </div> 
            </div>
        </div>
        <div class="content">
            <h3 class="Trend-title">Latest playlist</h3>
            <div class="playlist-trend">
                <div class="trend-1">
                        <img src="../static/images/Playlist-Trend-1.png" alt="">
                    <div>
                        <span class="title-playlist">Rise</span>
                        <br>
                        <span class="comment-playlist">Playlist chill</span>
                    </div>
                </div>
                <div class="trend-1">
                        <img src="../static/images/Playlist-Trend-1.png" alt="">
                    <div>
                        <span class="title-playlist">Deep Focus</span>
                        <br>
                        <span class="comment-playlist">Keep calm and focus.</span>
                    </div>
                </div>
                <div class="trend-1">
                        <img src="../static/images/Playlist-Trend-1.png" alt="">
                    <div>
                        <span class="title-playlist">Rise</span>
                        <br>
                        <span class="comment-playlist">Playlist for the night</span>
                    </div>
                </div>
            </div>
            <h3 class="Trend-title">Latest songs</h3>
            <div class="playlist-trend">
                <div class="trend-2">
                        <img src="../static/images/liked.png" alt="">
                    <div>
                        <span class="title-playlist">Singer</span>
                        <br>
                        <span class="comment-playlist">Title</span>
                    </div>
                </div>
                <div class="trend-2">
                        <img src="../static/images/liked.png" alt="">
                    <div>
                        <span class="title-playlist">Singer</span>
                        <br>
                        <span class="comment-playlist">Title</span>
                    </div>
                </div>
                <div class="trend-2">
                        <img src="../static/images/liked.png" alt="">
                    <div>
                        <span class="title-playlist">Singer</span>
                        <br>
                        <span class="comment-playlist">Title</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
</body>
</html>