{% extends 'header.html' %}
{% block contenu %}

<div class="createClass">
    <form class="connectionForm" >
        <label for="username">Email :</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password :</label>
        <input type="password" id="password" name="password" required>
        
        <label for="password">Confirm Password :</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Create new account</button>
        
    </form>
</div>

{% endblock contenu %}