<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/main.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="../static/images/Top-Logo.png">
    <title>Web Mus Yc</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/home"> <img src="../static/images/WebMusYc.png" alt="logo"></a>
        </div>
        <nav>
            <a href="#">Blindtest</a>
            <a href="#">Music</a>
        </nav>
        <div class="user-options">
            <div class="login">
                <a href="/connected">Log In</a>
            </div>
            <div class="signup">
                <a href="#">Sign Up</a>
            </div>
        </div>
    </header>
    {% block contenu %}
    {% endblock contenu %}
</body>
</html>

 
