{% extends 'header.html' %}
{% block contenu %}

<main>
    <div class="view">
        <div class="side">
            <div class="menu">
                <div class="text-box mBot15">
                    <a href="/home">
                        <span class="material-icons">home</span>
                        <span class="text-m">Home</span>
                    </a>
                </div>
                <div class="text-box">
                    <a href="#">
                        <span class="material-icons">search</span>
                        <span class="text-m">Search</span>
                    </a>
                </div>
            </div>
            <div class="listing">
                <div class="listing-header">
                    <div class="text-box">
                        <a href="library.html">
                            <span class="material-icons">library_music</span>
                            <span class="text-m">Library</span>
                        </a>
                    </div>
                    <div class="icons-action">
                        <span class="material-icons">add</span>
                        <span class="material-icons">arrow_forward</span>
                    </div>
                </div>
                <div class="filters">
                    <span class="material-icons filter-icons">search</span>
                    <div class="drop">
                        <span class="label">Recents</span>
                        <span class="material-icons">expand_more</span>
                    </div>
                </div>
                <div class="playlists">
                    <div>
                        <div class="creation">
                            <div>
                                <div  class="text-box mBot15">
                                    <p>Log in to create your first playlist!</p>
                                </div>
                                <div class="create-playlist">
                                    <a href="/login">Create playlist</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="text-box mBot15">
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
                <div class="text-box mBot15">
                    <a href="#">
                        <span class="text-m">About</span>
                    </a>
                    <a href="#">
                        <span class="text-m">Privacy</span>
                    </a>
                    <a href="#">
                        <span class="text-m">Terms</span>
                    </a>
                </div>
                <div class="text-box mBot15">
                    <span class="text-m">©Web Mus Yc</span>
                </div> 
            </div>
        </div>
        <div class="content">
            <div class="slogan">
                Mix your playlist <span class="slogan-and"> and </span> create the best one!
            </div>
            <h3 class="Trend-title">Playlists tendances</h3>
            <div class="playlist-trend">
                <div class="trend-1">
                        <img src="../static/images/Playlist-Trend-1.png" alt="">
                    <div>
                        <span class="title-playlist">Rise</span>
                        <br>
                        <span class="comment-playlist">Playlist chill</span>
                    </div>
                </div>
                <div class="trend-1">
                        <img src="../static/images/Playlist-Trend-1.png" alt="">
                    <div>
                        <span class="title-playlist">Deep Focus</span>
                        <br>
                        <span class="comment-playlist">Keep calm and focus.</span>
                    </div>
                </div>
                <div class="trend-1">
                        <img src="../static/images/Playlist-Trend-1.png" alt="">
                    <div>
                        <span class="title-playlist">Rise</span>
                        <br>
                        <span class="comment-playlist">Playlist for the night</span>
                    </div>
                </div>
                <div class="trend-1">
                        <img src="../static/images/Playlist-Trend-1.png" alt="">
                    <div>
                        <span class="title-playlist">Rise</span>
                        <br>
                        <span class="comment-playlist">Playlist ambiance</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock contenu %}
