<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/page.css">
    <link rel="shortcut icon" href="../static/logo_pageweb.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Web Mus Yc</title>
</head>
<body>
    <!-- barre header -->
    <header>
        <section class="header">
            <nav>
                <div class="onglet">
                    <a href="home.html" class="container_logo">
                        <img src="../static/logo_Webmusyc.png" alt="logo" class="logo">
                    </a>
                        <div class="suggestion">
                            <a  href="blind_test.html"> Blindtest</a>
                            <a  href="music.html">Music</a>
                        </div>
                </div>
                    <div class="buttons">
                        <button class="login">Log In</button>
                        <button class="register">Sign Up</button>
                    </div>
                <div class="barre">
                </div>
            </nav>
        </section>
    </header>
    <!-- fin header -->
    <!-- Début main -->
    <main class="container">
        <div class="box_1">
                <p>Home</p>
                <p>Search</p>
        </div>
        <div class="box_2">
        </div>
        <div class="box_3">
        </div>
        <div class="box_4">
        </div>
        <div class="box_5">
        </div>
        
    </main>

</body>
</html>