<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style/main.css" type="text/css">
    <link rel="stylesheet" href="../static/style/signup.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="../static/images/WebMusYc.png">
    <title>Web Mus Yc</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/home"> <img src="../static/images/WebMusYc.png" alt="logo"></a>
        </div>
        <nav>
            <a href="#">Blindtest</a>
            <a href="#">Music</a>
        </nav>
        <div class="user-options">
            <div class="login">
                <a href="#">My account</a>
            </div>
        </div>
    </header>
<!-- fin header -->
    <main>
        <div class="content-signup"> 
                <h1 class="title-signup">Sign up for free</h1>
                <h2 class="text-signup">Already have an account?&nbsp;<a href="/login">Login</a></h2>
            <section class="log">
                <form class="input-log" action="" method="post">
                    <label for="Email">Email address</label>
                    <input type="email" name="Email" placeholder="" required>
                </form>
                <form class="input-log" action="" method="post">
                    <label for="Username">Username</label>
                    <input type="text" name="Username" placeholder="" required>
                </form>
                <form class="input-log" action="" method="post">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" placeholder="" required>
                </form>
                <form class="input-log" action="" method="post">
                    <label for="ConfirmPassword">Confirm password</label>
                    <input type="password" name="ConfirmPassword" placeholder="" required>
                </form>
                <form class="input-log" action="" method="post">
                    <label>
                        By clicking on "Sign Up" you agree to the&nbsp;<a href="#">Terms of Service</a>&nbsp;and&nbsp;<a href="#">Privacy Policy</a>
                    </label>
                </form>
                <form> 
                    <button type="submit" class="button-signup">Sign up</button>
                </form>
            </section>
        </div>
    </main>
</body>